# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Power BI temporary files
*.pbix.autorecover

# Environment variables
.env

# macOS
.DS_Store

#test
test.py
testing_connection.py